<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="libagg" version="2.8.6" targetFramework="native" />
  <package id="libcssom" version="0.1.23" targetFramework="native" />
  <package id="libmikroxml" version="0.1.40" targetFramework="native" />
  <package id="libpapki" version="1.0.99" targetFramework="native" />
  <package id="libr4" version="1.0.56" targetFramework="native" />
  <package id="libsvgdom" version="0.3.68" targetFramework="native" />
  <package id="libutki" version="1.1.147" targetFramework="native" />
  <package id="zlib_static" version="1.2.11.9" targetFramework="native" />
</packages>