<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="libagg" version="2.7.4" targetFramework="native" />
  <package id="libcssdom" version="0.1.10" targetFramework="native" />
  <package id="libmikroxml" version="0.1.29" targetFramework="native" />
  <package id="libpapki" version="1.0.85" targetFramework="native" />
  <package id="libr4" version="1.0.38" targetFramework="native" />
  <package id="libsvgdom" version="0.3.48" targetFramework="native" />
  <package id="libutki" version="1.1.102" targetFramework="native" />
  <package id="zlib_static" version="1.2.11.6" targetFramework="native" />
</packages>