<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="libagg" version="2.8.26" targetFramework="native" />
  <package id="libcssom" version="0.2.13" targetFramework="native" />
  <package id="libjpeg_static" version="6.1.1.14" targetFramework="native" />
  <package id="libmikroxml" version="0.1.64" targetFramework="native" />
  <package id="libpapki" version="1.0.143" targetFramework="native" />
  <package id="libpng_static" version="1.6.39.1" targetFramework="native" />
  <package id="libr4" version="1.0.96" targetFramework="native" />
  <package id="librasterimage" version="0.1.23" targetFramework="native" />
  <package id="libsvgdom" version="0.4.22" targetFramework="native" />
  <package id="libutki" version="1.1.257" targetFramework="native" />
  <package id="libveg" version="0.1.1" targetFramework="native" />
  <package id="zlib_static" version="1.2.11.12" targetFramework="native" />
</packages>