<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cairo_static" version="1.15.4.1" targetFramework="native" />
  <package id="libpapki" version="1.0.42" targetFramework="native" />
  <package id="libpng" version="1.6.28.1" targetFramework="native" />
  <package id="libpng.redist" version="1.6.28.1" targetFramework="native" />
  <package id="libsvgdom" version="0.2.68" targetFramework="native" />
  <package id="libutki" version="1.1.11" targetFramework="native" />
  <package id="pixman_static" version="0.32.4.4" targetFramework="native" />
  <package id="pugixml" version="1.8.3" targetFramework="native" />
  <package id="zlib" version="1.2.8.8" targetFramework="native" />
  <package id="zlib.v120.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
  <package id="zlib.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
</packages>